body {
	margin: 0;
	padding: 0;
	max-width: 100%;
	box-sizing: border-box;
	background-color: #ece35a;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: rgb(77, 77, 77);
}

.box {
    line-height : 30px;
}

section{
	margin: 40px auto;
	width: 35%;
	padding: 35px;
	background-color: rgb(243, 243, 229);
	border-radius: 10px;
	text-align: left;
}

.oculto{
	display: none;
}
